@import '../../Helpers/Colors/Colors.scss';

.form-control{
    background: $seconderyColor;
    color: $Foreground;
    &::placeholder{
        color: $Foreground;
    }
    &:focus{
        border: none;
        background: $seconderyColor;
        box-shadow: none;
        color: $Foreground;
    }
}