@import '../../Helpers/Colors/Colors.scss';
@import '../../Helpers/Functions/mixin.scss';

.btn{
    @include btn(10px, 15px 0px, 10px, none);

    &__purple{
        @extend .btn;
        background: $Purple;
        color: $Foreground;
        transition: all 0.4s ease-in-out;

        &:hover{
            background: #9952d8;
        }
    }
}
